/*--------Float CTA Styles*/
.floatContainer {
  display: block;
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: 10 !important;
}
.float {
  background-color: #ed1c27;
  width: 50%;
  margin: auto;
  color: #fff;
  border-radius: 30px 30px 0 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: none;
  line-height: 1.2;
  text-align: center;
  font-size: 1.2em;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.28);
  z-index: 10!important;
}

.float a {
  font-family: "Roboto Condensed";
  border-radius: 0px;
  color: white;
  text-decoration: none;
  padding: 0 1em;
  border-left: 2px solid #F8991D;
}

.float a:hover {
  color: rgb(255, 210, 210);

  font-weight: 100;
}
a.first {
  border-left: none !important;
}

@media only screen and (min-width: 1270px) and (max-width: 1368px) {
  .float {
    width: 35%;
    font-size: 1em;
  }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {

    .float{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .float a{
        font-size: 0.8em;
        padding: 0 0.3em;
    }
}

/*--------iPADS*/
@media only screen and (min-width: 768px) and (max-width: 912px) {
    .float{
        width: 60%;
        padding-left: 0;
        padding-right: 0;
    }
    .float a{
        font-size: 0.8em;
        padding: 0 0.3em;
    }
}

/*--------Nesthub*/

@media only screen and (width: 1024px)  {
    .float{
        width: 60%;
        padding-left: 0;
        padding-right: 0;
    }
    .float a{
        font-size: 0.8em;
        padding: 0 0.3em;
    }
}
